img {
   width: 4cm;
   display: block;
   margin-left: auto;
   margin-right: auto
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

body {
  background-color: goldenrod;
  color: ivory;
  font-family: Verdana, sans-serif;
  margin: 10% 10%
}

h1 {
  text-align: center
}

